/* Root variables */
:root {
  --color-primary: #1A1A1A;
  --color-secondary: #333333;
  --color-tertiary: #585858;
  --bg-image: url("/extensions/recolor/dark.jpg");
}

/* Global Styles */
html, body.bg-neutral-800 {
  background: var(--bg-image) no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
}

body {
  overflow: overlay;
}

/* Common Styles */
div, input, select, textarea {
  box-sizing: border-box;
}

input, select, textarea {
  background-color: var(--color-secondary) !important;
}

/* Login Page Styles */
div.LoginFormContainer___StyledDiv-sc-cyh04c-3.cxOtYP {
  background-color: var(--color-primary) !important;
}

label.Label-sc-g780ms-0.dqkKHi {
  color: var(--color-tertiary) !important;
}

input.Input-sc-19rce1w-0.fFYzlR {
  color: white !important;
}

/* Navigation and Header Styles */
div.grid.grid-cols-6.gap-2.md:gap-4.col-span-4.lg:col-span-1.order-last.lg:order-none,
div.w-full.bg-neutral-900.shadow-md.overflow-x-auto,
div.style-module_2XbmHEcn.group,
div.TitledGreyBox___StyledDiv2-sc-gvsoy-1.jRrWLs,
div.ContentBox___StyledDiv-sc-mjlt6f-2.iGOcRf,
div.Modal___StyledDiv2-sc-9vzni8-3.ekHIsr,
div.grid.grid-cols-10.py-4.border-b-2.border-gray-800.last:rounded-b.last:border-0.group,
div.TitledGreyBox___StyledDiv-sc-gvsoy-0.oLbNP {
  background-color: var(--color-primary);
}

div.style-module_2Vp6MaXq.bg-gray-600 {
  background: rgba(51, 51, 51, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}

/* Schedule Styles */
.ScheduleEditContainer___StyledDiv3-sc-1fhsmlc-7.bNXcqn,
.ScheduleEditContainer___StyledDiv-sc-1fhsmlc-0.bWXUsX,
.ScheduleTaskRow___StyledDiv-sc-17r38ls-0.ipThkt {
  background-color: var(--color-secondary);
}

/* Buttons and Links */
a.GreyRowBox-sc-1xo9c6v-0.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D,
a.GreyRowBox-sc-1xo9c6v-0.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D.fwbDSe.DashboardContainer___StyledServerRow-sc-1topkxf-2.jbVWLN,
a.GreyRowBox-sc-1xo9c6v-0.ScheduleContainer___StyledGreyRowBox-sc-dlqnx9-2.dyLna-D.bppajE {
  background-color: var(--color-primary) !important;
}

a.style-module_35MPv1CD.style-module_35MPv1CD.active,
.px-6.py-3.bg-gray-700.flex.items-center.justify-end.space-x-3.rounded-b,
div.GreyRowBox-sc-1xo9c6v-0 {
  background-color: var(--color-primary);
}

a.style-module_35MPv1CD.active:hover {
  background-color: var(--color-secondary) !important;
}

/* Modal and Dialog Styles */
div.server-console-style-module__stat_block,
div.server-console-style-module__icon.bg-gray-700,
div.headlessui-dialog-panel-2,
div.style-module_1RnhIT0w,
div.EditScheduleModal___StyledDiv2-sc-wh9db9-4.fhEpAC,
div.EditScheduleModal___StyledDiv4-sc-wh9db9-6.jyDDEO,
div.EditScheduleModal___StyledDiv5-sc-wh9db9-7.ueIjC {
  background-color: var(--color-secondary);
}

textarea.Input__Textarea-sc-19rce1w-1.kKFWRA,
div.flex.justify-end.space-x-4.mt-4.w-full.md:mt-0.md:w-48,
select.Select-sc-17exaqp-0.dupyoa {
  background-color: var(--color-secondary) !important;
}

label.PermissionRow__Container-sc-1h899cn-0.icxFlO:hover {
  background-color: var(--color-tertiary);
}

/* Specific Input Styles */
input.Input-sc-19rce1w-0.jqTCDz,
input.Input-sc-19rce1w-0.ZkNLd {
  background-color: var(--color-secondary);
}

input.Input-sc-19rce1w-0.jqTCDz:hover {
  background-color: var(--color-primary);
}

/* Misc Styles */
div.GreyRowBox-sc-1xo9c6v-0.iTERJN.flex-wrap.md:flex-nowrap.mt-2 {
  background-color: var(--color-secondary);
}

div.TitledGreyBox___StyledDiv3-sc-gvsoy-4.fKIIIQ,
div.TitledGreyBox___StyledDiv-sc-gvsoy-0.oLbNP {
  background-color: var(--color-primary);
}

div.style-module_1WqkLT9X {
  background-color: var(--color-primary) !important;
}

div.style-module_1WqkLT9X:hover,
div.style-module_35MPv1CD.active:hover {
  background-color: var(--color-secondary) !important;
}

/* App Container */
#app {
  background: var(--bg-image) no-repeat center center fixed;
  background-size: cover;
  background-color: transparent;
}
